@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    color: #13172e;
}

.rajdhani{
    font-family: "Rajdhani", sans-serif; 
}

.links {
    transition: background,color .2s ease-out;
    color: #a51050;
    text-decoration: underline;
}

.links:visited {
    color: #a51050;;
}